@import "../global/utilities";

.home {
	width: clamp(0px, 100%, 1200px);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	.hero {
		margin-top: 1rem;

		@include breakpoint-up(large) {
			height: 50vh;
			margin-top: 0;
			flex-direction: row;
			padding-inline: 1rem;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&__text {
			text-align: center;
			font-weight: 300;
			margin-bottom: 1rem;
			@include breakpoint-up(large) {
				margin-bottom: 0;
				text-align: left;
			}
			span {
				display: block;
			}
			&_primary {
				font-size: 16vw;
				@include breakpoint-up(large) {
					font-size: 96px;
				}
			}

			&_secondary {
				@include breakpoint-up(large) {
					font-size: 24px;
				}
			}
		}
		&__images {
			display: flex;
			align-items: center;
			img {
				height: 50px;
				@include breakpoint-up(large) {
					height: 120px;
				}
			}

			.plus {
				font-size: 50px;
				margin-inline: 16px;
				@include breakpoint-up(large) {
					font-size: 96px;
					margin-inline: 83px;
				}
				font-weight: 300;
			}
		}
	}

	.text_section {
		font-style: normal;
		font-weight: 300;
		line-height: 24px;
		padding: 1rem;
		@include breakpoint-up(large) {
			font-size: 24px;
			line-height: 36px;
		}
	}

	.cta_button {
		background-color: black;
		color: white;
		font-weight: 400;
		padding: 20px 44px;
		border: none;
		display: block;
		margin: auto;
		font-size: 16px;
		font-weight: 400;
		cursor: pointer;
		user-select: none;

		&:hover,
		&:active {
			background-color: rgba($color: #000000, $alpha: 0.7);
		}
	}
}
